/*
 * index.css
 * Stylesheet for index.html
 * Created on 3/1/2019
 * Created by Andrew Davis
 *
 * Copyright (C) 2019  Andrew Davis
 *
 * This program is free software: you can redistribute it and/or modify   
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Styling for the body */
body {
	background-color: darkgray;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the control form */
form {
	background-color: gray;
}

/* Styling for the current filename */
p#fileName {
	color: charcoal;
}

/* Styling for the control buttons */
form button {
	background-color: lightgray;
	border: none;
}

/* Styling for list headers */
ul {
	list-style-type: none;
	cursor: pointer;
}

/* Styling for list items */
li {
	background-color: lightgray;
	padding: 10px;
	width: 95%;
	border: 5px double black;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Styling for the hover event on the "Collapse" and "Add Element" text */
.collapsible:hover, .appendable:hover {
	background-color: gray;
}

/* Styling for the delete button */
.deletable:hover {
	background-color: red;
}

/* Styling for a collapsed list header */
.collapsible.active {
	background-color: #a0a0a0;
}

/* Styling for editable elements */
.editable:hover {
	background-color: forestgreen;
}

/* End of stylesheet */
